* {
    padding: 0;/** iç boşluk **/
    margin: 0;/** dış boşluk **/
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;/** sana ne verirlirse verilsin her şeyi aynı tut **/
}
.banner {
    width: 100%;
    height: 100vh; /* cihazın yüksekliği kadar kapla */
    background-image: linear-gradient(
        rgba(0,0,0,0.75),
        rgba(0,0,0,0.75)
    ),
    url("img/Download\ it\ and\ prompt\ on\ my\ Freepik\ profile\ \(2k….jpg");
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 85%;
    margin: 0 auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: white;
    cursor: pointer;
}

.navbar ul li {
    list-style-type : none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}

.navbar ul li::after {
    content: "";
    width: 0%;
    height: 3px;
    background-color:#009688 ;
    position: absolute;
    left: 0;
    bottom: -7px;
    transition: 500ms all;
}

.navbar ul li:hover::after {
    width: 100%;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center;
    color: white;
    transform: translateY(-50%);
}

.content h2 {
    font-size: 70px;
    margin-top: 80px;
}

.content p {
    margin: 20px auto;
    line-height:15px;

}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2ps solid #009688;
    background-color: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span {
    background-color: #009688;
    width: 0px;
    height:100%;
    position: absolute;
    bottom:0;
    left: 0;
    border-radius: 25px;
    z-index: -1;
    transition: 500ms all;
}

button:hover span{
    width: 100%;

}